a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

span {
    color: red;
}

.container {
    width: 600px;
    padding: 30px 40px;
}

.registration table,
tr,
td {
    margin-bottom: 10px;
    padding-bottom: 25px;
}

.form-control,
td,
label {
    text-align: right;
}

.form-control input {
    padding: 5px;
    width: 350px;
    border: 1px solid #C0C0C0;
}

.form-control select {
    padding: 5px;
    width: 99%;
    font-weight: 100;
    border: 1px solid #C0C0C0;
}

.Register input {
    width: 80px;
    height: 30px;
    background-color: #1589FF;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    border: none;
}

.check-and-submit,
div {    
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 25px;
    
}

.check-and-submit{
    position: relative;
    
}