html,
body {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
  }
.covery1{
    
    height: 100%;
    background-image: url(./Media/cover2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.covery {
    height: 100%;
    background-image: linear-gradient(
          rgba(75, 141, 196, 0.2),
          rgba(0, 0, 0, 0.9) 85%
        ),
         url(./Media/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
