
.button1 {
    background-color:#0288d1;
    color: white;
    border-width: inherit; 
}

.button2 {
    color: gray;
    border: 1px solid gray;
}

.button3 {
    border-style: initial;
    border-style: dashed;
    color: gray;
}

.button4 {
    
    color:red;
    border: 1px solid gray;
}

div {
    color: gray;
    margin: 20px;
    padding: 20px;
    border-style: inherit;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 5px;   
    color: gray;
    border: 1px;
}

