
button {
    border: 1px solid gray;
    border-radius: 5px;   
    color: gray;
    height: 30px;
    width: 80px;
}

.button1 {
    background-color:#0288d1 ;
    color: white;
}

.button2 {   
    border: 1px solid gray;
    color: gray;
}

.button3 {
    border-style: initial;
    border-style: dashed;
    color: gray;
}

.button4 {
    border: 1px solid gray;
    color: red;
    
}
